---
import "../styles/globals.css";
import type { MarkdownInstance } from "astro";
const sections = Object.values(
  import.meta.glob<MarkdownInstance<{ title: string }>>("../pages/*.md*", {
    eager: true,
  })
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A summary history of the cast iron fry pan" />
    <meta name="author" content="Duncan Comrie" />
    <title>Esto Perpetua</title>
  </head>
  <body>
    <h1>Esto Perpetua:<br/><small>a summary history of the cast iron fry pan</small></h1>

    <section class="toc">
      <h2>Contents</h2>
      <ul>
        {
          sections.map((section, i) => (
            <li>
              <a href={section.url}>{`Chapter ${i + 1}: ${section.frontmatter.title}`}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </body>
</html>
